h1 {
     position: absolute;
     width: 383px;
     height: 257px;
     left: 123px;
     top: 187px;  
}

p1 {
     position: absolute;
     width: 383px;
     height: 100px;
     left: 123px;
     top: 300px;
}