.left {
     flex: 1;
     height: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: center;
     align-items: center;
     background-color: white;
 }

 .right {
     background-color: #d51846;
     flex: 1;
     height: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: center;
     align-items: center;
 }

.container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: center;
     align-content: center;
     align-items: center;
     height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.quatro {
     position: absolute;
     width: 383px;
     height: 257px;
     left: 180px;
     top: 280px;  
}

.cinco {
     position: absolute;
     width: 500px;
     height: 180px;
     left: 180px;
     top: 385px;
}

.tres {
     position: absolute;
     width: 58px;
     height: 92px;
     left: 170px;
     top: 183px;
}

.uno {
     position: absolute;
     left: 370px;
     top: 500px;
}


.dos {
     position: absolute;
     left: 170px;
     top: 500px;
}

.trees {
     width: 367px;
     position: relative;
     right: 0%;
}

